*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* *:not(html):not(body),
*::before,
*::after {
  
} */

:root {

}

html {
  font-size: 20%;
}

body {
  line-height: 1;
  padding: 5rem;
  /* background-color: #aaa; */

  font-family: 'Roboto Mono', monospace;
  font-size: 4rem;
}

span {
  display: inline-block;
}

.hidden:not(.text-box) {
  display: none!important;
}

.box {
  width: 8rem;
  height: 8rem;
  margin-top: 10rem;
  display: inline-block;
}

.box--forward {
  background-color: blue;
}

.box--backward {
  background-color: red;
}

.text-box.hidden {
  visibility: hidden;
}

.main {

}

.container {
  display: grid;
  grid-template-columns: 250rem auto;
  grid-template-areas:
    "data cards";
  gap: 10rem;
}

.data-display {
  grid-area: data;
  padding-top: 10rem;
  border-right: solid 1px black;

  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.time-chart {
  background-color: gray;
  width: min-content;

  display: grid;
  grid-template-columns: repeat(12, 12rem);
  grid-template-rows: repeat(9, 12rem);
}

.graph-lines {

}

.array-groups {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.array-group {
  width: min-content;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.array {
  width: min-content;

  display: flex;
}

.array--j {
  border: 1px solid red;
}

.array--c {
  border: 1px solid green;
}

.array--M {
  border: 1px solid purple;
}

.array-block {
  width: 12rem;
  height: 12rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.array--j .array-block {
  border-left: 1px solid red;
  background-color: rgb(245, 231, 234);
}

.array--c .array-block {
  border-left: 1px solid green;
  background-color: rgb(204, 255, 204);
}

.array--M .array-block {
  border-left: 1px solid purple;
  background-color: rgb(255 220 255);
}

.array-block--header {
  border-left: none!important;
}

.array--j .array-block--header {
  background-color: pink;
}

.array--c .array-block--header {
  background-color: rgb(177 239 177);
}

.array--M .array-block--header {
  background-color: rgb(255 181 255);
}

.job-cards {
  grid-area: cards;
}

.text-boxes {
  position: absolute;
  left: 0;
  top: 0;
}

.text-box-line-group {
  position: absolute;
  left: 0;
  top: 0;
}

.text-box {
  font-size: 3.6rem;
  position: absolute;
  height: min-content;
  width: 70rem;
  padding: 1rem 1rem;
  border: 0.75rem solid currentColor;
  bottom: calc(100% + 5rem);
}

.text-box-line-group--M-access .text-box {
  left: 10rem;
}

.text-box-line-group--formula-computation .text-box {
  left: 20rem;
}

.text-box-line-group--computation-expression--1 .text-box {
  left: 25rem;
}

.text-box__paragraph {
  color: black;
}

.free-line {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow:visible;
}

.free-line__line {
  stroke: currentColor;
  stroke-width:2; 
  marker-end:url(#markerArrow);
}

.highlightable {
  background-image: linear-gradient(to right, #F9F278 50%, transparent 50%);
  background-size: 200%;
  background-position-x: 100%;
}

.job-cards {
  display: flex;
  flex-direction: column;
  gap: 25rem;
  margin-top: 50rem;
}

.job-card {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}

.job-card-content {
  width: max-content;
  height: 25rem;
  padding: 4rem;
  background-color: #EFEFEF;
  position: relative;
  /* z-index: 0; */

  display: flex;
  align-items: center;
  gap: 1rem;
}

.job-card-children {
  left: 30rem;
  display: flex;
  flex-direction: column;
  gap: 25rem;
}



.M-container {
  display: flex;
  align-items: center;
}

.M-access-container {

}

.M-related,
.M-access,
.M-entry,
.M-access-text {
  color: #B36CD8;
}

.SJ-num {
  color: #FF0000;
}

.next-SJ-num-container {

}

.next-SJ-num-expression {
  color: black;
}

.next-SJ-num {
  color: black;
}


.arrow-container {
  animation-fill-mode: forwards;

  display: flex;
  align-items: center;
}

.arrow-head {
  width: 2rem;
  height: 3.6rem;
  background-color: black;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.arrow-tail {
  width: 16rem;
  height: 1rem;
  background-color: black;
}




.formula-container {
  display: flex;
  align-items: center;
}

.formula-computation {
  display: flex;
  align-items: center;
}

.max-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.curly-brace {
  height: 20rem;
  width: auto;
}

.computations-container {
  height: min-content;
  margin-left: -1rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.computation {
  color: black;
}

.computation-1 {
  
}

.computation-2 {

}

.computation-result {
  color: black;
}

.weight-related,
.weight {
  color: #0000FF;
}

.plus-sign {

}

.OPT-expression-container {

}

.OPT-related,
.OPT-expression {
  color: #845C35;
}

.OPT-result {
  color: black;
}

.c-access-container {

}

.c-related,
.c-access,
.c-entry {
  color: #62B720;
}




/* .highlight,
.undo--un-highlight {
  animation-name: highlighting;
  animation-fill-mode: forwards;
}

.un-highlight,
.undo--highlight {
  animation-name: un-highlighting;
  animation-fill-mode: forwards;
}

.fade-in,
.undo--fade-out {
  animation-name: fading-in;
}

.fade-out,
.undo--fade-in {
  animation-name: fading-out;
}

.enter-wipe-from-right,
.undo--exit-wipe-to-right {
  animation-name: entering-wipe-from-right;
}

.exit-wipe-to-right,
.undo--enter-wipe-from-right {
  animation-name: exiting-wipe-to-right;
}

.enter-wipe-from-left,
.undo--exit-wipe-to-left {
  animation-name: entering-wipe-from-left;
}

.exit-wipe-to-left,
.undo--enter-wipe-from-left {
  animation-name: exiting-wipe-to-left;
}

@keyframes highlighting {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

@keyframes un-highlighting {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}


@keyframes fading-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fading-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes entering-wipe-from-right {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes exiting-wipe-to-right {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes entering-wipe-from-left {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes exiting-wipe-to-left {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
} */
