*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 20%;
}

body {
  line-height: 1;

  font-family: 'Roboto Mono', monospace;
  font-size: 4rem;
}

span {
  display: inline-block;
}

input {
  font-family: inherit;
  display: inline-block;
}

.button-disabled {
  cursor: not-allowed!important;
}

.SJ-num,
.SJ-related {
  color: var(--color-red);
}
