*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 20%;
}

body {
  line-height: 1;
  padding: 5rem;
  /* background-color: #aaa; */

  font-family: 'Roboto Mono', monospace;
  font-size: 4rem;
}

span {
  display: inline-block;
}

.hidden:not(.text-box):not(.time-graph__c-bar) {
  display: none!important;
}

.text-box.hidden,
.time-graph__c-bar.hidden {
  visibility: hidden;
}

.highlightable {
  background-image: linear-gradient(to right, var(--color-yellow) 50%, transparent 50%);
  background-size: 202%;
  background-position-x: 100%;
}

.SJ-num,
.SJ-related {
  color: var(--color-red);
}
