/*****************************************************************/
/**************************** LAYOUT ****************************/
/*****************************************************************/

.banner {
  position: fixed;
  height: 19rem;
  background-image: linear-gradient(to right, var(--color-gray-darker), var(--color-gray));
  color: var(--color-gray-lightest);
  padding: 1.6rem 5rem;
  width: 100%;
  z-index: 10000;
  top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  display: flex;
  align-items: center;
}

.main-menu {
  margin-top: 24rem;
  width: max-content;
  padding-left: 5rem;
  margin-bottom: 10rem;
}

.visualization {
  display: grid;
  grid-template-columns: 250rem auto;
  grid-template-areas:
    "data cards";
  gap: 10rem;
}

.data-display {
  position: fixed;
  top: 0;
  left: 0;
  
  grid-area: data;
  padding-top: 14rem;
  padding-right: 10rem;
  padding-left: 5rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.data-display__right-border {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-gray-darkest);
}

.job-cards {
  grid-area: cards;
  margin-top: 54rem;
}