/*****************************************************************/
/**************************** LAYOUT ****************************/
/*****************************************************************/

.main {

}

label {
  box-sizing: border-box;
}

.main-menu {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.visualization {
  display: grid;
  grid-template-columns: 250rem auto;
  grid-template-areas:
    "data cards";
  gap: 10rem;
}

.data-display {
  position: fixed;
  top: 0;
  left: 0;
  
  grid-area: data;
  padding-top: 10rem;
  padding-right: 10rem;
  padding-left: 5rem;
  height: 100%;
  border-right: solid 1px var(--color-gray-darkest);

  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.job-cards {
  grid-area: cards;
}