/*****************************************************************/
/**************************** FREE LINE ****************************/
/*****************************************************************/

wbmtr-connector {
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 2.4;
  stroke-linecap: round;
  z-index: 1000;
}

.connector--bullet-connector {
  stroke: var(--color-red);
}

.connector--dotted {
  stroke-width:1;
  stroke-dasharray: 4;
}
