/*****************************************************************/
/**************************** FREE LINE ****************************/
/*****************************************************************/

.free-line {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow:visible;
  z-index: 1000;
}

.free-line__line {
  stroke: currentColor;
  stroke-width:2; 
  marker-end:url(#markerArrow);
  stroke-linecap: round;
}

.free-line--bullet-connector .free-line__line {
  stroke: var(--color-red);
}

.free-line--dotted .free-line__line {
  stroke-width:1;
  stroke-dasharray: 4;
}

.free-line marker path {
  fill: currentColor;
}
