/*****************************************************************/
/**************************** FREE LINE ****************************/
/*****************************************************************/

wbfk-connector {
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 2.4;
  stroke-linecap: round;
  z-index: 1000;
}

.free-line--bullet-connector {
  stroke: var(--color-red);
}

.free-line--dotted {
  stroke-width:1;
  stroke-dasharray: 4;
}
