/*****************************************************************/
/**************************** JOB FORM ****************************/
/*****************************************************************/

.job-form {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.job-form__jobs-inputs {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.job-form__row {
  display: flex;
  /* align-items: center; */
  gap: 10rem;
}

.job-form__job-letter {
  font-size: 4.8rem;
  padding: 1rem 3rem;
  background-color: var(--color-blue-dark);
  color: var(--color-blue-lightest);
  border-radius: 5rem;

  display: flex;
  align-items: center;
}

.job-form__field {
  width: 65rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.job-form__label {
  width: 100%;

  display: flex;
  align-items: center;
  
  padding: 1rem 3rem;
  background-color: var(--color-blue-lightest);
}

.job-form__label .job-form__input {
  display: inline-block;
  font-family: inherit;
  margin-left: auto;
  background-color: var(--color-blue-light);
}

.job-form__input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.job-form__error {
  color: var(--color-yellow);
  background-color: var(--color-red-dark);
  padding: 1rem 3rem;
  font-size: 3.6rem;
  line-height: 1.2;
}

.job-form__error:empty {
  display: none;
}

.job-form__button {
  width: max-content;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.job-form__button--submit {
  
}

.job-form__button--add {
  
}

.job-form__button--delete {
  background-color: var(--color-red-lightest);
  color: var(--color-red-dark);
  height: 7rem;
}

