/*****************************************************************/
/**************************** TEXT BOX ****************************/
/*****************************************************************/

.text-box-line-group {
  position: absolute;
  left: 0;
  top: 0;
}

.text-box-line-group.line-front .free-line {
  z-index: 1002;
}

.text-box {
  font-size: 3.6rem;
  position: absolute;
  height: min-content;
  width: 80rem;
  padding: 1rem 1rem;
  border: 0.75rem solid currentColor;
  bottom: calc(100% + 5rem);
  background-color: var(--color-yellow-lightest);
  z-index: 1001;

  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
}

.text-box__paragraph {
  color: var(--color-gray-darkest);
  line-height: 1.2;
}

.text-box .algorithm {
  background-color: var(--color-gray-lighter);
  border-top: dotted 1px var(--color-gray-darkest);
  border-bottom: dotted 1px var(--color-gray-darkest);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
