/*****************************************************************/
/**************************** TIME GRAPH ****************************/
/*****************************************************************/

.time-graph {
  width: min-content;
  position: relative;
  border: 2px solid var(--color-gray-darkest);
}

.time-graph__job-bars {
  position: absolute;
  left: calc(100% + 8rem);
  height: 100%;
}

.time-graph__c-bar {
  position: absolute;
  height: 100%;
  width: 1.6rem;
  background-color: var(--color-green);
  left: 100%;
  z-index: 2;
}

.time-graph__job-bar {
  position: absolute;
  height: calc(12rem + 1px);
  padding: 1rem 1.6rem;
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue);
  z-index: 1;
}


.time-graph__rows {
  display: flex;
  flex-direction: column;
}

.time-graph__row {
  display: flex;
  height: 12rem;
  background-color: var(--color-gray-lighter);
}

.time-graph__row--times {
  height: 8rem;
  background-color: var(--color-gray-lightest);
}

.time-graph__cell {
  position: relative;
  width: 18rem;
  border: 1px dashed black;
  border-right: none;
  border-bottom: none;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.time-graph__cell:last-child { /* De-emphasizes the right-most column of cells, which won't be used for anything */
  width: 5rem;
  background-color: var(--color-gray-lightest);
  border-top: none;
}

.time-graph__row:first-child .time-graph__cell { /* Top row of cells won't have a top border */
  border-top: none;
}

.time-graph__row--times .time-graph__cell { /* Cells in the row of time values */
  justify-content: end;
  align-items: start;
  border-left: none;
  border-right: none;
}

.time-graph__cell--header {
  align-items: start;
  border-left: none;
}

:not(.time-graph__row--times)>.time-graph__cell--header { /* Give darker gray to all header cells except the one in the row of time values */
  background-color: var(--color-gray-light);
}

.time-graph__row--times .time-graph__cell span { /* Shifts the time values to the left to align with vertical lines */
  position: absolute;
  left: -1rem;
}

.time-graph__SJ-num {
  background-color: var(--color-gray-lighter);
  width: 100%;
  flex: 1;
}
