/*****************************************************************/
/**************************** COLORS ****************************/
/*****************************************************************/

:root {
  --color-purple-darkest: #660066;
  --color-purple-dark: #800080;
  --color-purple: #A522EC;
  --color-purple-light: #ffb5ff;
  --color-purple-lightest: #ffdcff;

  --color-red-dark: #A30000;
  --color-red: #db0000;
  --color-red-light: #ffc0c0;
  --color-red-lightest: #f5e7ea;

  --color-blue-dark: #2020a2;
  --color-blue: blue;
  --color-blue-light: #cfcfff;
  --color-blue-lightest: #e5e5ff;
  --color-blue-light-transparent: #cfcfffbb;

  --color-green-darker: #025F02;
  --color-green-dark: #027d02;
  --color-green: #62B720;
  --color-green-light: #b1efb1;
  --color-green-lightest: #ccffcc;

  --color-brown: #8E6339;

  --color-yellow: #F9F278;
  --wbmtr-highlight-color: var(--color-yellow);
  --color-yellow-lightest: rgba(245, 245, 231, 0.904);

  --color-gray-darkest: black;
  --color-gray-darker: #444;
  --color-gray: gray;
  --color-gray-light: #d5d5d5;
  --color-gray-lighter: #EFEFEF;
  --color-gray-lightest: white;
}
