:host(.playback-button) {
  width: 8rem;
  height: 8rem;
  display: inline-block;
  background-color: var(--color-gray-darker);
  padding: 0.5rem !important;

  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.4);
  transform: scale(1);
  transition: all 0.02s;

  cursor: pointer;
}

:host(.playback-button--disabledPointerFromPause),
:host(.playback-button--disabledPointerFromStepping) {
  cursor: not-allowed;
}

:host(.playback-button--disabledFromTimelineEdge),
:host(.playback-button--disabledFromPause),
:host(.playback-button--disabledFromStepping) {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

:host(.playback-button--pressed) {
  transform: scale(0.90);
  box-shadow: -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
}

:host(.playback-button--pressed[trigger="press"]) {
  background-color: var(--color-red);
}

:host(.playback-button--pressed[trigger="hold"]) {
  background-color: var(--color-green);
}

.playback-button__symbol {
  width: 100%;
  height: auto;
  fill: var(--color-gray-lightest);
}
